.profileScreen{
    height: 100vh;
    color: white;
}

.profileScreenBody {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}

.profileScreenBody > h1 {
    font-size: 40px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px
}

.profileScreenInfo {
    display: flex;
}

.profileScreenInfo > img {
    height: 100px;
}

.profileScreenDetails {
    flex: 1;
    color: white;
    margin-left: 25px;
} 

.profileScreenDetails > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreenPlans {
    margin-top: 20px;
}

.profileScreenPlans > h3 {
    border-bottom:  1px solid #282c2d;
    padding-bottom: 10px;
}

.signOutBtn {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}
